<script src="https://giscus.app/client.js"
        data-repo="Y-T-G/Yasins-Keep"
        data-repo-id="R_kgDOKLumEw"
        data-category="Giscus"
        data-category-id="DIC_kwDOKLumE84CeAup"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
